<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<meta charset="utf-8">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.php">Filmes</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="adiciona-filmes.php">Adicionar novos filmes</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<h2>Lista de Filmes</h2>        
		<table class="table table-hover">
		<thead>
		  <tr>
		    <th>Titulo</th>
		    <th>Diretor</th>
		    <th>Ator/Atriz Principal</th>
		  </tr>
		</thead>
		<tbody>
			{% for i in postsMovies %}
		    <tr>
			    <td>{{i.Title}}</td>
			    <td>{{i.Director}}</td>
			    <td>{{i.Actor}}</td>
			    <td><a href="#" title="">Alterar</a></td>
			    <td><a href="#" title="">Excluir</a></td>
		  	</tr>
		   {% endfor %}
		</tbody>
		</table>
	</div>
</body>
</html>