<!DOCTYPE html>
<html lang="en">
<head>
    <title>Página não encontrada</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/views/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">Filmes</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="adiciona-filmes.php">Adicionar novos filmes</a></li>
            </ul>
        </div>
    </nav>
    <div class="container box-form">
        <h1 class="text-error">Página não encontrada!</h1>
    </div>

</body>
</html>